.hero {
   padding-bottom: 185px;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(../../assets/hero/hero_bg.jpg) center/cover no-repeat;

   &__content {
      padding-top: 137px;
      display: flex;
      column-gap: 60px;

      @media (max-width:$screen-md-min) {
         display: block;
         padding-top: 85px;

      >.form {
         margin: 0 auto;
         margin-top: 56px;
      }
      }
   }

   &__title {
      margin-top: 65px;
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-transform: uppercase;
      color: $white_color;

      @media (max-width: $screen-laptop) {
         margin-top: 50px;
         font-family: 'Raleway';
         font-size: 36px;
         line-height: 42px;
      }  

      @media (max-width:$screen-md-min) {
         margin-top: 0;
         text-align: center;
   }}

   &__divider {
      margin-top: 55px;
      width: 170px;
      color: $white_color;
      background-color: $white_color;

      @media (max-width:$screen-md-min) {
         margin-top: 43px;
         width: 115px;
   }

      @media (max-width:$screen-md-min) {
      width: 134px;
   }}

   &__description {
      margin-top: 42px;
      max-width: 270px;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $white_color;

      @media (max-width:$screen-md-min) {
         text-align: center;
      }

      @media (max-width:$screen-sm-min-small) {
         font-size: 14px;
         line-height: 16px;
         max-width: 288px;
      }
   }

   &__btn {
      margin-top: 42px;
   }
}

.content__info {
   display: block;

   @media (max-width:$screen-md-min) {
      display: flex;
      flex-direction: column;
      align-items: center;

      >.logo {
         display: none;
      }
   }
}