$black_color: #000000;
$pink_color: #EC7979;
$light_grey_color:#86878B;
$middle_grey_color:#212121;
$dark_grey_color:#333333;
$red_color:#AB4949;
$cloud_color:#F8EFEF;
$white_color: #ffffff;
$label_color: #BDBDBD;
$pricing_color: #F5F5F5;
$reviews_color:#E2E2E2;


$screen-sm-min-small: 320px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-laptop: 1024px;
$screen-xl-min: 1200px;
